.layout {
    display: flex;
    min-height: 100%;

}

.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.content {
    flex: 1;
    min-width: 0;

    padding: 16px;
}